<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.smartfarmapi.region.RegionMapper">
	<select id="getRegion" parameterType="RegionGetDto" resultType="RegionGetVo">
		SELECT REGIONCD, REGIONNAME
		FROM TBL_REGION_CODE
		WHERE REGIONCD IN
		<foreach item="item" collection="regionList" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<select id="getRootRegion" resultType="RootRegionGetVo">
		SELECT REGIONCD, REGIONNAME
		FROM TBL_ADMIN ADMIN
		INNER JOIN TBL_REGION_CODE REGION_CODE
		ON ADMIN.REGION_CDs LIKE CONCAT('%', REGION_CODE.REGIONCD, '%')
		WHERE ID = 'root'
	</select>
</mapper>