<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.smartfarmapi.weather.WeatherMapper">
	<select id="getWeather" parameterType="WeatherGetDto" resultType="WeatherGetVo">
		WITH RECURSIVE TBL_TEMP_HOUR AS (
			SELECT 0 AS HOUR_VAL
			UNION ALL
			SELECT HOUR_VAL + 1 FROM TBL_TEMP_HOUR WHERE HOUR_VAL <![CDATA[ < 23 ]]>
		)
		SELECT
			WEATHER_LOG.STATUS AS STATUS,
			IFNULL(AVG(WEATHER_LOG.TEMPERATURE), NULL) AS TEMPERATURE,
			IFNULL(WEATHER_LOG.WIND_PWR, NULL) AS WIND_PWR,
			IFNULL(WEATHER_LOG.WIND_DIRECTION, NULL) AS WIND_DIRECTION,
			CONCAT(LPAD(TEMP_HOUR.HOUR_VAL, 2, '0'), ':00') AS UPDATE_DTTM,
			IFNULL(WEATHER_LOG.HUMIDITY, NULL) AS HUMIDITY,
			IFNULL(REGION_CODE.REGIONNAME, NULL) AS REGIONNAME
		FROM TBL_TEMP_HOUR TEMP_HOUR
		LEFT JOIN TBL_WEATHER_LOG WEATHER_LOG
			ON HOUR(WEATHER_LOG.UPDATE_DTTM) = TEMP_HOUR.HOUR_VAL
			AND WEATHER_LOG.UPDATE_DTTM BETWEEN CONCAT(#{date}, ' 00:00:00') AND CONCAT(#{date}, ' 23:59:59')
		LEFT JOIN TBL_REGION_CODE REGION_CODE
			ON WEATHER_LOG.REGION_CD = REGION_CODE.REGIONCD
		WHERE REGION_CODE.REGIONCD = #{regionCode} OR WEATHER_LOG.REGION_CD IS NULL
		GROUP BY TEMP_HOUR.HOUR_VAL
		ORDER BY TEMP_HOUR.HOUR_VAL ASC
	</select>
</mapper>